1. 문제를 낼 때 문제 안에 비속어가 있으면 필터링 해주는 기능
2. 이미지, 지문, 코드 리플렛 등 문제를 클릭만으로도 편하게 만들 수 있는 기능
3. 사용자가 풀었던 문제의 비슷한 문제를 추천해주는 기능 
(문제 출제자에게 연관있는 태그를 적게하는 것도 좋아보임, 같은 태그의 문제를 추천..)
4. 백준 solved.ac처럼 여러 문제를 출제한 사람 혹은 많은 문제를 푼사람에게 앰블럼을 제공하는 기능(동기부여에 좋을거 같음/ 단, 아무문제나 출제하지 않도록 제제하는 기능도 필요할 것 같음..)
5. 이론을 작성하면 랜덤하게 골라서 자동으로 문제 출제하는 기능..?(퀴즐렛에 이런 기능이 있긴 함)