<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solafy.mapper.group.GroupMapper">
 
 <insert id="createGroup" parameterType="GroupDto">
 	insert into solafy.group (title, type, description)
 	values(#{title}, #{type}, #{description})
 </insert>
 
 <!-- 2020.12.28. createGroup에서 그룹장 설정 -->
 <!-- TODO : statusMessage 설정 해야함  -->
 <insert id="createGroupMaster" parameterType="Map">
 	insert into groupmember (uid, groupNo, grade, statusMessage, regiMessage)
 	values(#{uid}, (select groupNo from solafy.group where title = #{title}), 1, '', '')
 </insert>
 
 <insert id="createApplyGroupSignUp" parameterType="GroupMemberDto">
 	insert into groupmember (uid, groupNo, grade, regiMessage)
 	values(#{uid}, #{groupNo}, #{grade}, #{regiMessage})
 </insert>
 
 <insert id="createGroupInvitation" parameterType="GroupMemberDto">
 	insert into groupmember (uid, groupNo, grade, regiMessage)
 	values(#{uid}, #{groupNo}, #{grade}, #{regiMessage})
 </insert>


 <select id="selectAllGroup" parameterType="String" resultType="GroupDto">
 	 <!-- 모든 그룹을 선택하고 uid가 ~인 사람의 grade를 가지고와서 grade 컬럼을 표시한다. -->
	select gp.groupNo, gp.title, gp.type, gp.description, gm.grade from solafy.group as gp
	left outer join groupmember as gm
	on gm.uid = #{uid} and gp.groupNo = gm.groupNo;
 </select>
 
 <select id="selectGroupByNo" parameterType="int" resultType="GroupDto"> 
 	select groupNo, title, type, description from solafy.group
 	where groupNo = #{groupNo}
 </select>
 
 <select id="checkDuplicateName" parameterType="String" resultType="int">
	select count(*) from solafy.group
	where title = #{title}
 </select>
 
 <select id="selectGroupMember" parameterType="int" resultType="GroupMemberDto">
	select ui.nickname, gm.grade, ui.statusMessage, groupNo, gm.uid, gm.regiMessage
	from solafy.groupmember as gm
	join solafy.userinfo as ui
	on gm.uid = ui.uid
	where gm.groupNo = #{groupNo}
	order by gm.grade asc;
 </select>
 
 <update id="updateGroup" parameterType="GroupDto" >
 	update solafy.group 
 	set title=#{title}, type=#{type}, description=#{description}  
 	where groupNo=#{groupNo}
 </update>
 
 <update id="updatePermissionOfMember" parameterType="GroupMemberDto">
 	update groupmember 
 	set grade=#{grade} 
 	where uid=#{uid} and groupNo=#{groupNo}
 </update>

 <update id="updateGroupApplyConfirm" parameterType="GroupMemberDto">
 	update groupmember 
 	set grade=#{grade}
 	where uid=#{uid} and groupNo=#{groupNo}
 </update>
 
 <update id="updateGroupInvitationConfirm" parameterType="GroupMemberDto">
 	update groupmember 
 	set grade=#{grade} 
 	where uid=#{uid} and groupNo=#{groupNo}
 </update>
 
 <delete id="deleteGroup" parameterType="int">
 	delete from solafy.group
 	where groupNo=#{groupNo}
 </delete>
 
 <delete id="deleteGroupMember" parameterType="Map">
 	delete from groupmember
 	where uid=#{uid} and groupNo=#{groupNo}
 </delete>
 
 <delete id="deleteGroupMemberself" parameterType="Map">
 	delete from groupmember
 	where uid=#{uid} and groupNo=#{groupNo}
 </delete>

</mapper>